body {
    background-image: url("https://storage.needpix.com/rsynced_images/sunset-profile-background.jpg");
   
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    font-size: 20px;
}

p {
    font-size: 18px;
    margin-right: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}